CursoAngular/DatingApp/API/appsettings.json
CursoAngular/DatingApp/API/datingapp.db
CursoAngular/StudentAssets.zip
Copy of MEFP MOZAL MAR2025 EMAILS V21.xlsx
devops1/abc/abc.slnx
CursoAngular/StudentAssets_/challenges/Section 14 Pagination challenge.pdf
CursoAngular/StudentAssets_/challenges/Section 18 Photo Management Challenge solution.pdf
CursoAngular/StudentAssets_/challenges/Section 18 Photo management challenge.pdf
CursoAngular/StudentAssets_/.DS_Store
CursoAngular/StudentAssets_/DatingApp.postman_collection.json
CursoAngular/StudentAssets_/user.png
CursoAngular/StudentAssets_/challenges/.DS_Store
CursoAngular/StudentAssets_/snippets/.DS_Store
CursoAngular/StudentAssets_/snippets/themes.txt
devops1/file.PDF
devops1/abc/.vs/abc/CopilotIndices/17.14.794.21998/CodeChunks.db
devops1/abc/.vs/abc/CopilotIndices/17.14.794.21998/SemanticSymbols.db
CursoAngular/StudentAssets_/UserSeedData.json
devops1/abc/.vs/abc.slnx/DesignTimeBuild/.dtbcache.v2
devops1/abc/.vs/abc.slnx/FileContentIndex/724341ca-f3b0-4b2e-a09a-bee9baae5f91.vsidx
devops1/abc/.vs/abc.slnx/v17/.futdcache.v2
devops1/abc/.vs/abc.slnx/v17/.suo
devops1/abc/.vs/abc.slnx/v17/DocumentLayout.backup.json
devops1/abc/.vs/abc.slnx/v17/DocumentLayout.json
devops1/abc/.vs/ProjectEvaluation/abc.metadata.v9.bin
devops1/abc/.vs/ProjectEvaluation/abc.projects.v9.bin
devops1/abc/.vs/ProjectEvaluation/abc.strings.v9.bin
devops1/abc/PDFtoEXCEL/PDFtoEXCEL.csproj
devops1/abc/PDFtoEXCEL/PDFToExcelConverter.cs
devops1/abc/PDFtoEXCEL/bin/Debug/net9.0/PDFtoEXCEL.deps.json
devops1/abc/PDFtoEXCEL/bin/Debug/net9.0/PDFtoEXCEL.dll
devops1/abc/PDFtoEXCEL/bin/Debug/net9.0/PDFtoEXCEL.pdb
devops1/abc/PDFtoEXCEL/obj/PDFtoEXCEL.csproj.nuget.dgspec.json
devops1/abc/PDFtoEXCEL/obj/PDFtoEXCEL.csproj.nuget.g.props
devops1/abc/PDFtoEXCEL/obj/PDFtoEXCEL.csproj.nuget.g.targets
devops1/abc/PDFtoEXCEL/obj/project.assets.json
devops1/abc/PDFtoEXCEL/obj/project.nuget.cache
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.AssemblyInfo.cs
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.AssemblyInfoInputs.cache
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.assets.cache
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.csproj.AssemblyReference.cache
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.csproj.BuildWithSkipAnalyzers
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.csproj.CoreCompileInputs.cache
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.csproj.FileListAbsolute.txt
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.dll
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.GeneratedMSBuildEditorConfig.editorconfig
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.GlobalUsings.g.cs
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/PDFtoEXCEL.pdb
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/ref/PDFtoEXCEL.dll
devops1/abc/PDFtoEXCEL/obj/Debug/net9.0/refint/PDFtoEXCEL.dll
ESCOLA/ProgramacaoII/Relatório_Sistema_Gestão_Eleitoral.pdf
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral.zip
ESCOLA/ProgramacaoII/Trabalho_PII.docx
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/.classpath
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/README.md
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/sistema_eleitoral.db
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/.vscode/settings.json
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/App.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/DatabaseConnection.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/dao/AgenteMesaDAO.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/dao/CandidatoDAO.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/dao/EleitorDAO.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/dao/MesaVotoDAO.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/dao/UtilizadorDAO.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/dao/VotoDAO.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/model/AgenteMesa.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/model/Candidato.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/model/Eleitor.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/model/MesaVoto.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/model/Utilizador.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/model/Voto.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/AgenteMesaView.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/CandidatoView.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/EleitoresView.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/LoginView.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/LoginView$1.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/MainMenu.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/MesaDeVotoView.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/sistema_eleitoral.db
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/UtilizadorView.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/bin/view/VotacaoView.class
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/lib/sqlite-jdbc-3.49.1.0.jar
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/App.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/DatabaseConnection.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/dao/AgenteMesaDAO.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/dao/CandidatoDAO.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/dao/EleitorDAO.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/dao/MesaVotoDAO.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/dao/UtilizadorDAO.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/dao/VotoDAO.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/model/AgenteMesa.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/model/Candidato.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/model/Eleitor.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/model/MesaVoto.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/model/Utilizador.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/model/Voto.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/AgenteMesaView.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/CandidatoView.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/EleitoresView.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/LoginView.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/MainMenu.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/MesaDeVotoView.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/sistema_eleitoral.db
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/UtilizadorView.java
ESCOLA/ProgramacaoII/SistemaGestaoEleitoral/src/view/VotacaoView.java
CursoAngular/StudentAssets/__MACOSX/._StudentAssets
CursoAngular/StudentAssets/__MACOSX/StudentAssets/._.DS_Store
CursoAngular/StudentAssets/__MACOSX/StudentAssets/._challenges
CursoAngular/StudentAssets/__MACOSX/StudentAssets/._DatingApp.postman_collection.json
CursoAngular/StudentAssets/__MACOSX/StudentAssets/._snippets
CursoAngular/StudentAssets/__MACOSX/StudentAssets/._user.png
CursoAngular/StudentAssets/__MACOSX/StudentAssets/._UserSeedData.json
CursoAngular/StudentAssets/__MACOSX/StudentAssets/challenges/._.DS_Store
CursoAngular/StudentAssets/__MACOSX/StudentAssets/challenges/._Section 14 Pagination challenge.pdf
CursoAngular/StudentAssets/__MACOSX/StudentAssets/challenges/._Section 18 Photo Management Challenge solution.pdf
CursoAngular/StudentAssets/__MACOSX/StudentAssets/challenges/._Section 18 Photo management challenge.pdf
CursoAngular/StudentAssets/__MACOSX/StudentAssets/snippets/._.DS_Store
CursoAngular/StudentAssets/__MACOSX/StudentAssets/snippets/._themes.txt
CursoAngular/StudentAssets/StudentAssets/.DS_Store
CursoAngular/StudentAssets/StudentAssets/DatingApp.postman_collection.json
CursoAngular/StudentAssets/StudentAssets/user.png
CursoAngular/StudentAssets/StudentAssets/UserSeedData.json
CursoAngular/StudentAssets/StudentAssets/challenges/.DS_Store
CursoAngular/StudentAssets/StudentAssets/challenges/Section 14 Pagination challenge.pdf
CursoAngular/StudentAssets/StudentAssets/challenges/Section 18 Photo Management Challenge solution.pdf
CursoAngular/StudentAssets/StudentAssets/challenges/Section 18 Photo management challenge.pdf
CursoAngular/StudentAssets/StudentAssets/snippets/.DS_Store
CursoAngular/StudentAssets/StudentAssets/snippets/themes.txt
